.confirmSuccess{
    width: 100%;
    height: 100%;
    text-align: center;
}
.imgSuccess{
    height: 100%;
    width: 100%;
    background-image: url('http://wallpaperswide.com/download/success-wallpaper-3840x2160.jpg');
    background-position: center;
    background-size: cover;

}
