<% include ../layout/header.ejs %>
<div class="confirmSuccess">
    <div class="imgSuccess"></div>
    <p>Подтвердление прошло удачно!</p>
    <a class="btn" href="/">На главную</a>
</div>
<% include ../layout/footer.ejs %>