<% include ../layout/header.ejs %>
<div>
        <div class="imgError"></div>
        <p>Что-то пошло не так...</p>
        <a href="/">Отправить повторное потдверждение почты</a>
</div>
<% include ../layout/footer.ejs %>